.filters {
}

#myProjects {
    text-align: center;
}

#myProjects .section-header {
    text-align: center;
    padding: 20px 0;
}

.filter-btn {
}

.products {
}

.product-card {
}

.productImg {
}

.productName {
}

.size {
}

.productionTime {
}

.price {
}

#moreBtn {
    display: inline-block;
    text-align: center;
    margin: 20px auto;
}
