:root {
    --main-font: 'Inter' , sans-serif;
    --decorative-font: 'Sacramento', sans-serif;
    --mainColor: #E2DDD9;
    --textShadow: #A8a39d;
    --brandColor: #3B0146;
    --bgColor: #D8C8B8;
    
}

// #A8a39d
//#f8f1e9
//#8D7966