:root {
    --main-font: 'Inter' , sans-serif;
    --decorative-font: 'Sacramento', sans-serif;
    --mainColor: #E2DDD9;
    --circleColor: #FFA5BA;
    --brandColor: #8D7966;
    --bgColor: #D8;
    --hoverBuyBtn: #ECEBEB;
}

// A8a39d
// d8c8b8
// e2ddd9
//f8f1e9