.logo-image {
    width: 150px;
    height: 100px;
    animation: wobble-hor-bottom 10s infinite both;
}

//animations
@keyframes wobble-hor-bottom {
    0%,
    100% {
        transform: translateX(-30px) rotate(-6deg);
        transform-origin: 50% 50%;
    }
    15% {
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        transform: translateX(15px) rotate(6deg);
    }
    45% {
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
        transform: translateX(15px) rotate(6deg);
    }
    75% {
        transform: translateX(-30px) rotate(-6deg);
    }
}