.orderBtn {
    font-size: 20px;
    color: var(--mainColor);
    background-color: var(--brandColor);
    border: none;
    border-radius: 25px;
    margin-left: auto;
    padding: 15px 25px;

    &:hover,
    :focus {
        transform: scale(1.2);
    }
}

//animations
@keyframes scale-up-center {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}