.howOrder {
    padding: ;
}

.howOrder .container {
    display: flex;

}

.howOrder .section-header {
    text-align: center;
}

.howOrder-image {
    width: 600px;
    margin-right: 20px;
}

.howOrder__list {
    
    
}

.howOrder__item {
    font-size: 20px;
    letter-spacing: .02em;
    color: var(--sectionTextColor);
    padding-bottom: 20px;
    
}

.howOrder-icon {

}
