.whatIDo {
    background-color: var(--bgColor);
    padding: 50px 0;
}

.whatIDo .container {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 2fr; 
    grid-template-areas: 
    "images whatIDo"
    ". whatIDo"; 
}
.whatIDo-images {
    display: flex;
    grid-area: images;
    align-items: center;
}

.whatIDo-image {
    width: 250px;
    height: 350px;

    &:not(:last-child) {
        padding-right: 10px;
    }
}

.whatIDo-description {
    grid-area: whatIDo;
    font-size: 20px;
    text-align: center;
}

.section-header {
    font-family: var(--decorative-font);
    font-size: 48px;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px var(--textShadow);
    color: var();
    padding-bottom: 30px;
}

.section-text,
.section-text2 {
    letter-spacing: .02em;
    color: #8D7966;
    line-height: 1.333;
}

.section-text2 {
    padding-top: 20px;
}

.whatIDo .orderBtn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}