.whatIDo {
    display: flex;
    align-items: center; /* Wyrównuje elementy w pionie */
    padding: 20px; /* Przykładowy padding */
}

.whatIDo-images {
}

.whatIDo-image {
}

.whatIDo-description {
}

.section-header {
}

.section-text {
}
