.whatIDo {
}

.whatIDo .container {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "images whatIDo"; 
}
.whatIDo-images {
    display: flex;
    grid-area: images;
    padding-right: 20px;
}

.whatIDo-image {
    width: 300px;
}

.whatIDo-description {
    width: 400px;
    grid-area: whatIDo;
}

.section-header {
    font-family: var();
    text-align: center;
}

.section-text {
}
