.whatIDo {
}

.whatIDo .container {
    display: flex;
}
.whatIDo-images {
    display: flex;
}

.whatIDo-image {
    width: 300px;
}

.whatIDo-description {
}

.section-header {
}

.section-text {
}
